.IntroduceBox {
  width: 100%;
  height: 800px;
  background-color: #eaeaea;
}
.IntroduceBox div {
  margin: 0 30px;
  padding: 15px 0;
}
.IntroduceBox span {
  font-size: 100px;
  font-weight: 900;
}
