/* viewDetail 페이지 mobile.ver */
@media screen and (max-width: 768px) {
  /* common */
  .detailTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #454545;
  }
  .view-detail {
    background-color: #f9f9f9;
    /* z-index: -200; */
  }

  .flexStyle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .marginBottomStyle {
    padding: 20px 50px;
  }

  /* 과정개요 */
  #outlineProcess {
    margin-top: 40px;
  }
  #outlineProcess .flexStyle {
    flex-wrap: wrap;
    flex-direction: column;
  }

  #outlineProcess .outlineProcess-left {
    flex-basis: 40%;
    border-radius: 5px;
  }

  .outlineProcess-left .listText {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 35px;
    word-break: keep-all;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
  }

  #outlineProcess .outlineProcess-right {
    flex-basis: 40%;
    margin-top: 50px;
  }
  #outlineProcess .outlineProcess-right .flexStyle {
    flex-direction: row;
  }

  #outlineProcess .outlineProcess-right .iconList li {
    margin: 0 20px;
    text-align: center;
  }

  #outlineProcess .outlineProcess-right .iconList li:nth-of-type(2) img {
    opacity: 20%;
  }

  #outlineProcess .outlineProcess-right .iconList li img {
    width: 100px;
  }

  #outlineProcess .outlineProcess-right .iconList li p {
    background-color: #000;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding: 3px 10px;
    text-align: center;
    margin-top: 10px;
    width: 140px;
  }

  #outlineProcess .outlineProcess-right p.text_right {
    text-align: center;
  }

  /* 과정목표 */
  #processObjective .flexStyle {
    flex-direction: column;
  }
  #processObjective .processObjective-right .flexStyle {
    flex-direction: row;
  }
  .processObjective-left .listSubtitle {
    background-color: #666;
    color: #fff;
    font-weight: bold;
    padding: 10px 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
  }

  .processObjective-left {
    flex-basis: 40%;
  }

  .processObjective-left .listSubtitle {
    padding: 20px 0;
    font-size: 16px;
  }

  .processObjective-left ul {
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    padding: 35px;
    font-size: 14px;
  }

  #processObjective .processObjective-left ul li {
    list-style: disc;
    padding-bottom: 5px;
    word-break: keep-all;
  }
  #processObjective .processObjective-right .flexStyle {
  }
  #processObjective .processObjective-right {
    flex-basis: 40%;
    margin-top: 50px;
  }
  #processObjective .processObjective-right .readingIcon {
    width: 30%;
    height: 30%;
  }
  #processObjective .processObjective-right ul li img {
    width: 80%;
    margin-left: 8px; /*가운데 정렬이 안돼서 추가했어요*/
  }

  #processObjective .processObjective-right ul li p {
    background-color: #000;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding: 3px 10px;
    text-align: center;
    margin-top: 10px;
    width: 100px;
  }

  /* 교육대상 */
  #educationTarget .targetList {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  #educationTarget .targetList li {
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #educationTarget .targetList .targetList-text {
    padding: 15px 0;
    background-color: #fff;
    font-size: 14px;
  }

  /* 승연 파트 */
  /*  curriculum */
  .curriBox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .curriBox .curriTitle {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    text-align: center;
    background-color: #fff;
  }
  .curriBox .curriTitle p {
    padding: 10px 0;
    font-size: 14px;
  }
  .curriBox .curriTitle p:first-child {
    font-size: 28px;
    color: #fff;
    background: #666;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .curriBox .curriContents {
    border: 1px solid #ccc;
    border-radius: 5px;
    border-radius: 5px;
    width: 850px;
    padding-top: 10px;
    margin-left: 15px;
    background-color: #fff;
  }
  .curriContentsList {
    padding-top: 20px;
    margin-left: 30px;
    font-size: 14px;
  }
  .curriContentsList li {
    list-style: disc;
  }
  /*  mainTutor */
  .mainTutorBox {
    display: flex;
    margin: auto;
  }
  .mainTutorLeft {
    position: relative;
  }
  .mainTutorLeft img {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 250px;
    margin-bottom: 10px;
  }
  .mainTutorLeft p {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .mainTutorRight {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  .mainTutorLeft a:hover p {
    font-weight: bold;
    color: #5ebf92;
  }
  .mainTutorRight .mainTutorInfo {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 330px;
    height: 310px;
  }
  .mainTutorRight .mainTutorInfo p:first-child {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
  }
  .mainTutorRight .mainTutorInfo p:last-child {
    padding-left: 50px;
    padding-top: 100px;
  }
  .mainTutorRight .mainTutorInfo p:last-child span {
    font-size: 28px;
  }
  .mainTutorRight .mainTutorRigthBottom {
    display: flex;
    position: absolute;
    left: 50px;
    margin-top: 320px;
    height: 195px;
  }
  .mainTutorRight .mainTutorRigthBottom p {
    font-size: 20px;
    padding: 15px 0 0 15px;
  }
  .mainTutorRight .mainTutorRigthBottom .mainTutorCareer {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
  }
  .mainTutorRight .mainTutorRigthBottom .mainTutorPlace {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 330px;
    margin-left: 10px;
  }
  .mainTutorRight .mainTutorRigthBottom .mainTutorCareer ul,
  .mainTutorRight .mainTutorRigthBottom .mainTutorPlace ul {
    padding-left: 20px;
  }

  /*  applyInfo */
  #applyInfo {
    margin-top: 200px;
  }
  .applyInfoStepBox {
    width: 100%;
  }
  .applyInfoStep {
    display: flex;
    justify-content: center;
    counter-reset: step;
    margin-bottom: 20px;
  }
  .applyInfoStep li {
    width: 20%;
    position: relative;
    text-align: center;
  }
  .applyInfoStep li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    border: 1px solid #5ebf92;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 37px;
    background: #5ebf92;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
  .applyInfoStep li:after {
    content: "";
    position: absolute;
    width: 93%;
    height: 3px;
    background: #5ebf92;
    top: 15px;
    left: -48%;
  }
  .applyInfoStep li:first-child::after {
    content: none;
  }
  .applyInfoList {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .applyInfoList li {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    padding: 10px 30px;
    margin-left: 20px;
  }
  .applyInfoList li p:first-child {
    font-weight: bold;
    font-size: 20px;
  }
  .applyInfoAsk {
    display: flex;
    justify-content: center;
    margin: 50px auto 50px;
  }
  .applyInfoAsk ul {
    padding-top: 10px;
  }
  .applyInfoAsk img {
    width: 100px;
    height: 100px;
  }
  .applyInfoAsk a {
    color: inherit;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 20px;
  }
}
