/* PC용  */
@media screen and (min-width: 768px) {
  .customer-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .customer-list {
    display: block;
    width: 200px;
    height: 55px;
    margin: 0 50px 0 50px;
    background-color: #ddd;
    border-radius: 50px;
    color: #999;
    font-size: 18px;
    text-align: center;
    line-height: 55px;
  }
  /* common.css 적용이 안돼서 추가 */
  .customer-list a {
    color: inherit;
  }
  .customer-list:hover {
    background-color: #03a65a;
    color: #fff;
    border: none;
  }
  .cf::after {
    content: "";
    width: 0;
    height: 0;
    font-size: 0;
    display: block;
    clear: both;
  }
}

/* 모바일용  */
@media screen and (max-width: 767px) {
  .customer-list-container {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
  }
  .customer-list {
    flex: 1 0 100px;
    display: block;
    height: 40px;
    margin-left: 40px;
    background-color: #dddddd;
    border-radius: 50px;
    text-decoration: none;
    color: #454545;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
  }
  /* common.css 적용이 안돼서 추가 */
  .customer-list a {
    color: inherit;
  }
  .customer-list:hover {
    background-color: #03a65a;
    color: #fff;
    border: none;
  }
  .cf::after {
    content: "";
    width: 0;
    height: 0;
    font-size: 0;
    display: block;
    clear: both;
  }
}
