/* title */

.fqaTitle {
  margin: 90px 65px;
}
.fqaTitle h1 {
  font-weight: bold;
  color: #777777;
  font-size: 28px;
  margin-bottom: 10px;
}

.fqaTitle h2 {
  color: #aaaaaa;
  font-size: 18px;
  margin-bottom: 20px;
}

/* submenuList */

.fqaSubMenuBox {
  margin-top: 100px;
  margin-bottom: 80px;
}

.fqaSubMenuList {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fqaSubMenuList li {
  background: #dddddd;
  border-radius: 50px;
  width: 180px;
  height: 40px;
  line-height: 40px;
  display: block;
  color: #999;
  font-size: 16px;
  text-align: center;
  margin-left: 30px;
}

.fqaSubMenuListBtn {
  border: none;
  border-radius: 50px;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  background: #dddddd;
  color: #999;
}

.subOn {
  color: #ffffff;
  background-color: #5ebf92;
}

/* FaqAcco.js */

.accoBox {
  margin-bottom: 150px;
}
.accoImg {
  width: 25px;
  height: 25px;
  margin: 0 20px 10px;
}

.answerBox {
  display: flex;
  align-items: center;
  height: 100px;
  line-height: 100px;
}

.font-weight-bold {
  height: 70px;
  line-height: 70px;
}
