/* faq 페이지 PC.ver */
@media screen and (min-width: 768px) {
  /* title */

  .fqaTitle {
    width: 100%;
    height: 150px;
    background-color: #266f37;
    opacity: 0.9;
    padding: 20px 0 30px 30px;
  }
  .fqaTitle h1 {
    font-weight: bold;
    color: #fff;
    font-size: 28px;
    margin-bottom: 10px;
  }

  .fqaTitle h2 {
    color: #fff;
    font-size: 18px;
  }

  /* submenuList */

  .fqaSubMenuBox {
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .fqaSubMenuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }

  .fqaSubMenuList {
    border-bottom: 2px solid #ccc;
    height: 40px;
    line-height: 40px;
    display: block;
    color: #999;
    font-size: 16px;
    text-align: center;
    margin: 50px 60px 0 60px;
    /*애니메이션 추가*/
    width: 70%;
    max-width: 180px;
    letter-spacing: 0;
    transition: all 0.28s ease-in-out;
    cursor: pointer;
  }

  .fqaSubMenuList.subOn {
    border-bottom: 2.5px solid #5ebf92;
    font-weight: bold;
  }

  .fqaSubMenuList:hover,
  .fqaSubMenuList:focus,
  .fqaSubMenuList:active {
    letter-spacing: 5px;
    border-color: #5ebf92;
  }

  .faqBottomBanner {
    width: 100%;
    height: 200px;
    margin: 40px 0;
  }
  .faqBottomBanner img {
    width: 100%;
    height: 200px;
  }

  /* FaqAcco.js */

  .accoBox {
    margin: 0 50px 150px 50px;
  }
  .accoBox .accoImg {
    width: 25px;
    height: 25px;
    margin: 10px 20px 10px;
  }
  .accoBox .questionBox {
    display: flex;
    align-items: center;
  }
  .accoBox .questionBox p {
    padding-top: 20px;
    padding-right: 10px;
    cursor: pointer;
  }
  .accoBox .questionBox p:hover {
    color: #03a65a;
    transition: all 0.3s ease-in-out;
  }
  .accoBox .answerBox {
    display: flex;
    align-items: center;
  }

  .accoBox .answerBox p {
    padding-top: 20px;
    padding-right: 10px;
  }
}

/* faq 페이지 Mobile.ver */
@media screen and (max-width: 767px) {
  /* title */

  .fqaTitle {
    width: 100%;
    height: 150px;
    background-color: #266f37;
    opacity: 0.9;
    padding: 20px 0 30px 30px;
  }
  .fqaTitle h1 {
    font-weight: bold;
    color: #fff;
    font-size: 28px;
    margin-bottom: 30px;
  }

  .fqaTitle h2 {
    color: #fff;
    font-size: 16px;
  }

  /* submenuList */

  .fqaSubMenuBox {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .fqaSubMenuContainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fqaSubMenuList {
    border-bottom: 2px solid #ccc;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #999;
    font-size: 14px;
    text-align: center;
    margin: 0 30px 0 30px;
    /*애니메이션 추가*/
    width: 70%;
    max-width: 130px;
    letter-spacing: 0;
    transition: all 0.28s ease-in-out;
    cursor: pointer;
  }
  .fqaSubMenuList.subOn {
    border-bottom: 2.5px solid #5ebf92;
    font-weight: bold;
  }
  .fqaSubMenuList:hover,
  .fqaSubMenuList:focus,
  .fqaSubMenuList:active {
    border-color: #5ebf92;
  }
  .faqBottomBanner {
    width: 100%;
    height: 200px;
    margin: 40px 0;
  }
  .faqBottomBanner img {
    width: 100%;
    height: 200px;
  }

  /* FaqAcco.js */

  .accoBox {
    font-size: 12px;
    margin: 50px 50px 150px 50px;
  }
  .accoBox .accoImg {
    width: 20px;
    height: 20px;
    margin: 10px 20px 10px;
  }
  .accoBox .questionBox {
    display: flex;
    align-items: center;
  }
  .accoBox .questionBox p {
    padding-top: 15px;
    padding-right: 10px;
    cursor: pointer;
  }
  .accoBox .questionBox p:hover {
    color: #03a65a;
  }
  .accoBox .answerBox {
    display: flex;
    align-items: center;
  }

  .accoBox .answerBox p {
    padding-top: 10px;
    padding-right: 10px;
  }
}
