.wrapper {
  margin-bottom: 150px;
}

.title {
  margin: 106px 65px;
}
.title h2 {
  color: #777777;
  font-size: 30px;
}

.title h3 {
  color: #aaaaaa;
  font-size: 28px;
}

.menuList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList li {
  border: 1px solid transparent;
  background-color: #dddddd;
  border-radius: 50px;
  width: 260px;
  height: 80px;
  line-height: 80px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.menuList li a {
  color: #454545;
  display: block;
  font-size: 28px;
  text-align: center;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
}

.searchBox {
  text-align: center;
}

.searchBoxInput {
  width: 300px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  border: 1px solid #636363;
  outline: none;
  margin: 10px 0;
  padding-left: 50px;
  background: url(/public/images/search.png) no-repeat 20px center;
  background-size: 20px;
}

.subMenuBox {
  margin-top: 50px;
  margin-bottom: 150px;
}

.subMenuList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subMenuList li {
  border: 1px solid transparent;
  background-color: #dddddd;
  border-radius: 50px;
  width: 208px;
  height: 50px;
  line-height: 50px;
}

.subMenuList li a {
  display: block;
  color: #898989;
  font-size: 20px;
  text-align: center;
}

.on {
  color: #ffffff;
  background-color: #03a65a;
}

.subOn {
  color: #ffffff;
  background-color: #5ebf92;
}

/* .menuList li:hover {
  background-color: #03a65a;
}
.menuList li a:hover {
  color: #ffffff;
} */
