.wrapper {
  margin-bottom: 150px;
}

.title {
  margin: 106px 65px;
}
.title h1 {
  color: #777777;
  font-size: 30px;
}

.title h2 {
  color: #aaaaaa;
  font-size: 20px;
}

.menuList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList li {
  display: block;
  color: #454545;
  font-size: 20px;
  text-align: center;
  background-color: #dddddd;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.visitSubMenuBox {
  margin-top: 150px;
  margin-bottom: 94px;
}

.visitSubMenuList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visitSubMenuList li {
  display: block;
  color: #898989;
  font-size: 20px;
  text-align: center;
  background-color: #dddddd;
  border-radius: 50px;
  margin-right: 50px;
  width: 250px;
  height: 40px;
  line-height: 40px;
}

button {
  border: none;
  border-radius: 50px;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  background-color: #dddddd;
  color: #898989;
}

.subOn {
  color: #ffffff;
  background-color: #5ebf92;
  font-weight: bold;
}

.address {
  display: flex;
  align-items: center;
  color: #666666;
  margin-bottom: 30px;
}

.address h3 {
  font-size: 25px;
  font-weight: bold;
}

.address .share {
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 50px;
  display: block;
  font-size: 20px;
  background: url(/public/images/share.png) no-repeat 50px center;
  background-size: 20px;
}

.mapBox {
  display: flex;
  margin-bottom: 238px;
}

.mapBox .officeImg {
  width: 473px;
  height: 555px;
  border: 1px solid #666666;
  margin-right: 67px;
}

.transport h3 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  border: 1px solid transparent;
  border-radius: 50px;
  background: #dddddd;
  color: #666666;
  font-size: 20px;
  text-align: center;
}

.transportList {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  color: #666666;
}

.car,
.subway,
.bus {
  display: flex;
  justify-content: center;
}

.transportListTitle {
  width: 80px;
  height: 180px;
  margin-right: 54px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
}

.carTitle {
  background: url(/public/images/car.png) no-repeat center top;
  background-size: 70px;
}
.subwayTitle {
  background: url(/public/images/subway.png) no-repeat center top;
  background-size: 70px;
}
.busTitle {
  background: url(/public/images/bus2.png) no-repeat center top;
  background-size: 60px;
}

.transportListContents {
  width: 250px;
  height: 180px;
  /* border: 1px solid #000; */
  font-size: 16px;
}
