/* title */

.visitTitle {
  margin: 90px 65px;
}
.visitTitle h1 {
  font-weight: bold;
  color: #777777;
  font-size: 28px;
  margin-bottom: 10px;
}
.visitTitle h2 {
  color: #aaaaaa;
  font-size: 18px;
  margin-bottom: 20px;
}

/* submenuList */

.visitSubMenuBox {
  margin-top: 100px;
  margin-bottom: 80px;
}
.visitSubMenuContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visitSubMenuList {
  display: block;
  color: #999;
  font-size: 16px;
  text-align: center;
  background-color: #ddd;
  border-radius: 50px;
  margin-left: 50px;
  width: 200px;
  height: 40px;
  line-height: 40px;
}

.visitSubMenuList.subOn {
  color: #ffffff;
  background-color: #5ebf92;
  font-weight: bold;
}
.visitSubMenuList:hover {
  color: #ffffff;
  background-color: #5ebf92;
}

/* visitInfo */

.visitInfo .address {
  display: flex;
  align-items: center;
  color: #666666;
  margin-bottom: 30px;
}
.visitInfo .address h3 {
  font-size: 25px;
}
.visitInfo .share {
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 50px;
  display: block;
  border: none;
  font-size: 18px;
  background: url(/public/images/share.png) no-repeat 50px center;
  background-size: 20px;
}
.visitInfo .mapBox {
  display: flex;
  margin-bottom: 150px;
}
.visitInfo .mapBox .officeImg {
  width: 473px;
  height: 500px;
  margin-right: 67px;
}
#map {
  width: 1060px;
  height: 500px;
}

/* transport */

.transport {
  margin-bottom: 50px;
}
.transport h3 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  border: 1px solid transparent;
  border-radius: 50px;
  background: #dddddd;
  color: #666666;
  font-size: 20px;
  text-align: center;
}
.transportList {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  color: #666666;
}
.car,
.subway,
.bus {
  display: flex;
  justify-content: center;
}

.car,
.subway {
  border-right: 1px solid #dddddd;
  padding-right: 20px;
}

.transportListTitle {
  width: 80px;
  height: 180px;
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
}
.carTitle {
  background: url(/public/images/visit/car.png) no-repeat center top;
  background-size: 70px;
}
.subwayTitle {
  background: url(/public/images/visit/subway.png) no-repeat center top;
  background-size: 70px;
}
.busTitle {
  background: url(/public/images/visit/bus2.png) no-repeat center top;
  background-size: 60px;
}
.transportListContents {
  width: 300px;
  height: 180px;
  margin: auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.car .transportListContents p:nth-child(2),
.car .transportListContents p:last-child {
  font-size: 14px;
  margin-bottom: 0.2rem;
}
.subway .transportListContents {
  width: 200px;
}
