
/* 메인 배너 */
.main-banner{
  /* position: relative; */
}
.main-banner .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
}
.main-banner .swiper-pagination-bullet-active{
  width: 50px;
  border-radius: 50px;
  transition: all .4s linear;
}



/* 과정 카테고리 */
.program-contents {
  
}
.main-text-box {
  margin-top: 50px;
  margin-bottom: 40px;
}
.main-text-box .nav-link{
  text-decoration: none;
  color:#6e6e73;
  cursor: pointer;
  font-weight: normal;
}
.main-text-box .nav-link.active{
  color: #03A65A;
  font-weight: bold;

}
.main-text-box .eyebrow {
  display: inline-block;
  margin-bottom: 14px;
  padding: 5px 15px;
  border-radius: 18px;
  background-color: #03A65A;
  font-size: 17px;
  color: #fff;
  font-weight: bold;
}
.main-text-box .p-list {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 50px;
}
.main-text-box .p-list li {
  position: relative;
  padding: 0 8px;
}
.main-text-box .p-list li.active {
  color: #03A65A;
}
.main-text-box .p-list li::before {
  content: '';
  position: absolute;
  top:4px;
  bottom:4px;
  right:0;
  width:1px;
  background:#ababab;
}
.main-text-box .p-list li:first-child {
  padding-left: 0px;
  padding-right: 8px;
}
.main-text-box .p-list li:last-child::before {
  display: none;
}

.program-category .main-program-img {

}



/* EX 콘텐츠 */
.main-wrapper .main-excontents {
  padding-bottom: 100px;
}
.main-ex-img .ex-list .ex-item{
  margin-right: 40px;
  margin-bottom: 24px;
}


/* 공지사항 & HR샵 */
.main-bottom {
  display: flex;
  padding-top: 80px;
  margin-bottom: 80px;
  /* border-top: 1px solid #ababab; */

}

.main-bottom .main-notice {
  padding: 0 100px;
  width: 55%;
}
.main-bottom .text-box .b-title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #858899;
  
}
.main-bottom .text-box .b-comment {
  display: block;
  font-weight: 100;
  color: #ababab;
  margin-bottom: 20px; 
}

.main-notice .main-notice-list ul{
  margin: 0;
  padding: 0;
} 
.main-notice .main-notice-list li {
  display: flex;
  padding: 5px 0;

} 
.main-notice .main-notice-list li .list-text{
  width: 57%;

} 
.main-bottom .main-hr {
  padding: 0 100px;
}

.hr-list .swiper{
  margin: 0;
  width: 450px;
  height: 150px;
}
.hr-list .swiper-slide img{
  width: 200px;
  height: 100px;
  border-radius: 7px;
  margin-bottom: 40px;
}
.hr-list .swiper-pagination-bullet {
  background-color: #03A65A;
}


/* PC Main CSS */
@media screen and (min-width:768px){
   /* 메인 배너 */
   .main-frame{
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 700px;
      max-width: 98rem;
      margin-right: auto;
      margin-left: auto;
  }
  .main-banner .swiper-slide-active .panel-img{
    transition: all 2.2s linear;
    transform: scale(1.2);
  }
  .main-frame .panel-title{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .main-frame .panel2-title{
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .main-frame .panel-desc{
    font-size: 20px;
  }
  .main-frame .panel2-desc{
    font-size: 20px;
    color: #fff;
  }
  .main-frame .panel-top-title{
    font-size: 50px;
    font-weight: bold;
    color: #2b2d36;
  }
  .main-frame .panel2-top-title{
    font-size: 45px;
    font-weight: bold;
    color: #fff;
  }
  .panel-img{
    width: 240px;
    height:240px;
    
  }
  
  .main-banner .swiper-slide .banner-img{
    width: 100%;
    height: 380px;
  }
  .main-banner .swiper::before{
    position: relative;
    content: '';
    display: block;
    position:absolute;
    width: 50px;
    height: 23px;
    background-color: rgba(49,51,56,.6);
    padding: 5px 14px;
    border-radius: 18px;
    top: 23px;
    right: 18px;
    z-index: 2;
    box-sizing: content-box;
  }
  
  .main-banner .swiper-button-prev::after,.swiper-button-next::after{
    position: relative;
    display: none;
  }
  
  .main-banner .swiper-button-prev{
    top: 40px;
    left: 94%;
    background: url('/public/images/main/left-chevron.png') no-repeat center ;
    background-size: 24px 14px;
  }
  .main-banner .swiper-button-next{
    top: 40px;
    right: 20px;
    background: url('/public/images/main/right-chevron.png') no-repeat center ;
    background-size: 24px 14px;
  }
  .main-banner .swiper-pause {
    position: absolute;
    top: 26px;
    right: 49px;
    z-index: 10;
    cursor: pointer;
  }
  .main-banner .swiper-pause img{
    width: 14px;
    height: 15px;
  
  }

  /* 과정 카테고리 */
  .main-wrapper .program-category {
    padding: 50px 0;
  }
  .main-text-box .nav-link{
    text-decoration: none;color:inherit;
    cursor: pointer;
  }
  .tab-pane{
    animation: fadein .7s ease-in ;
  }
  @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  .main-text-box .p-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #424242;
  }
  .main-program-img .program-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  .main-program-img .program-item {
    vertical-align:top;
    margin-right: 30px;
    overflow: hidden;
    width: 290px;
  }
  .main-program-img .program-item .item-img {
    position: relative;
  }
  .main-program-img .program-item .item-img:hover {
    opacity:0.7;
  }
  .main-program-img .program-item .item-img img{ 
    width: 290px;
    height: 230px;
    border-radius: 7px;
    cursor: pointer;
  }
  .main-program-img .program-item .item-img .item-img-desc{
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 0;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    border-radius: 7px;
    transition: height 0.35s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  }
  .main-program-img .program-item .item-img .item-img-desc p{
    color: #fff !important;
  }
  .main-program-img .program-item .item-img:hover .item-img-desc{
    opacity:1;
    height: 201px;
  }
  .main-program-img .program-item .item-img .item-img-desc p{
    
  }
  .main-program-img{
    overflow: hidden;
  }
  .main-program-img .item-text{
    margin-top: 10px;
    margin-bottom: 28px;
    width: 100%;
    box-sizing: border-box;
    overflow:hidden;
    word-wrap:break-word;
  }
  .main-program-img .item-text p {
    margin-bottom: 0;

  }
  .main-program-img .item-title{
    font-weight: bold;
    color: #424242;
  }
  .main-program-img .item-date{
    font-weight: 100;
  
  }
  .main-program-img .item-days{
    font-weight: 100;
  }
  .main-program-img .item-top {
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 8px;
  }
  .main-program-img .item-top li{
    margin-right: 8px;
    width: auto;
    height: 20px;
    text-align: center;
    color: #6e6e73;
    background: #f2f2f2;
    font-size: 12px;
    padding: 1px 0.8rem;
    border-radius: 0.4rem;
    font-weight: bold;
    align-items: center;
  }

    /* 더보기 버튼 */
  .btn-box.more {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
  }
  .btn-more {
    width: 75px;
    border:0;
    background-color: #fff;
    position:relative;
    cursor: pointer;
  }
  .btn-more span {
    display:inline-block;
    padding-right:36px;
    font-size:14px;
    color:#000;
    line-height:28px;
    letter-spacing:-1.5px;
    vertical-align:top;
  }
  .btn-more:after {
    content:'';
    position:absolute;
    top:50%;
    right:0;
    width:28px;
    height:28px;
    margin-top:-14px;
    background:url(/public/images/main/ico_btn_more.png) no-repeat center center;
  }

  /* EX 콘텐츠 */
  .main-ex-img .ex-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .main-ex-img .ex-list .ex-item .item-img{
    overflow: hidden;
  }
  .main-ex-img .ex-list .ex-item .item-img img {
    width: 390px;
    border-radius: 7px;
    cursor: pointer;
    
  }
  .main-ex-img .ex-list .ex-item .item-img img:hover {
    transition: all 0.2s linear;
    transform: scale(1.05);
  }
  
  /* 메인 중간배너 */
  .main-middle-banner{
    position: relative;
  }
  .main-middle-banner img{
    height: 200px;
    width: 100%;
    border-radius: 7px;
  }
  .main-middel-banner-btn{
    position: absolute;
    top: 10px;
    left: 300px;
  }
  
}

/* 모바일 Main CSS */
@media screen and (max-width:767px){
  .main-frame{
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      max-width: 98rem;
      margin-right: auto;
      margin-left: auto;
  }
  .main-banner .swiper-slide-active .panel-img{
    transition: all 1s linear;
    transform: scale(1.2);
  }
  .main-frame .panel-title{
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .main-frame .panel2-title{
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .main-frame .panel-desc{
    font-size: 10px;
  }
  .main-frame .panel2-desc{
    font-size: 10px;
    color: #fff;
  }
  .main-frame .panel-top-title{
    font-size: 25px;
    font-weight: bold;
  }
  .main-frame .panel2-top-title{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
  }
  .panel-img{
    width: 100px !important;
    height:100px !important;
    
  }
  
  .main-frame{
    width: 300px;
  }
  .main-wrapper{
    padding-top: 65.59px;
  }
   /* 메인 배너 */
  .main-banner .swiper-slide .banner-img {
    width: 100%;
    height: 200px;
  }
  .main-banner .swiper-button-prev,
  .main-banner .swiper-button-next,
  .swiper-pause,
  .ex-item .item-comment,
  .main-program-img .item-top{
    display: none;
  }

  /* 과정 카테고리 */
  .main-wrapper .program-category {
    padding: 50px 15px;
  }
  .main-text-box .p-title {
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .main-text-box .p-list {
    font-size: 14px;
  }
  .main-program-img .program-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
  }
  .main-program-img .program-item {
    vertical-align:top;
    margin-right: 30px;
  }
  .main-program-img .program-item .item-img {
    position: relative;
  }
  .main-program-img .program-item .item-img img{ 
    width: 250px;
    height: 210px;
    border-radius: 7px;
    cursor: pointer;
  }
  .main-program-img .program-item .item-img .item-img-desc,
  .main-program-img .item-text,
  .btn-more{
    display: none;
  }

  /* EX 콘텐츠 */
  .main-wrapper .main-excontents {
    padding-left: 15px;
    padding-right: 15px; 
  }
  .main-ex-img .ex-list{
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    width: 100%;
  }
  .main-ex-img .ex-list .ex-item .item-img img {
    width: 290px;
    border-radius: 7px;
    cursor: pointer;
  }

  
  
}


