

/* 과정 카테고리 */
.program-contents {
  
}
.main-text-box {
  margin-top: 50px;
  margin-bottom: 40px;
}
.main-text-box .nav-link{
  text-decoration: none;
  color:#6e6e73;
  cursor: pointer;
  font-weight: normal;
}
.main-text-box .nav-link.active{
  color: #03A65A;
  font-weight: bold;

}
.main-text-box .eyebrow {
  display: inline-block;
  margin-bottom: 14px;
  padding: 5px 15px;
  border-radius: 18px;
  background-color: rgb(12, 150, 85);
  font-size: 17px;
  color: #fff;
  font-weight: bold;
}
.main-text-box .p-list {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 70px;
  margin-top: 20px;
}
.main-text-box .p-list li {
  position: relative;
  padding: 0 8px;
}
.main-text-box .p-list li.active {
  color: #03A65A;
}
.main-text-box .p-list li::before {
  content: '';
  position: absolute;
  top:4px;
  bottom:4px;
  right:0;
  width:1px;
  background:#ababab;
}
.main-text-box .p-list li:first-child {
  padding-left: 0px;
  padding-right: 8px;
}
.main-text-box .p-list li:last-child::before {
  display: none;
}

.program-category .main-program-img {

}



/* EX 콘텐츠 */
.main-wrapper .main-excontents {
  padding-bottom: 100px;
}
.main-ex-img .ex-list .ex-item{
  margin-right: 50px;
  margin-bottom: 24px;
  width: 325px;
  animation: fadein .7s ease-in ;
}
.main-ex-img .ex-list .ex-item:last-child{
  margin-right: 0;
}

/* 공지사항 & HR샵 */
.main-bottom-wrapper{
  background-color: #f9f9f9;;
  width: 100%;
  height: 100%;
}
.main-bottom {
  display: flex;
  width: 1085px;
  padding-top: 80px;
  padding-bottom: 80px;
  /* border-top: 1px solid #ababab; */

}

.main-bottom >div {
  /* border:1px solid black; */
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  border-radius: 4px;
  background-color: #fff;
}
.main-bottom .main-notice{
  margin-right: 20px;
  padding: 50px;
}
.main-bottom .text-box .b-title {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #2b2d32;
}
.main-bottom .main-notice .text-box .b-title::before{
  content: '';
  display: block;
  background: url(/public/images/main/ico_notice.png) no-repeat;
  width: 50px;
  height: 50px;
}
.main-bottom .text-box .b-comment {
  display: block;
  font-weight: bold;
  color: #2b2d32;
  margin-bottom: 20px; 
}

.main-notice .main-notice-list ul{
  margin: 0;
  padding: 0;
} 
.main-notice .main-notice-list li {
  display: flex;
  padding: 5px 0;
  cursor: pointer;

} 
.main-notice .main-notice-list li .list-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 350px;
}
.main-notice .main-notice-list li .main-notice-new{
  display: flex;
  align-items: flex-start;
  margin-right: auto;
  padding-top: 2px;
}
.main-notice .main-notice-list li:first-child .main-notice-new::after{
  content: '';
  display: block;
  background: url(/public/images/main/ico_new_large.png) no-repeat;
  width: 20px;
  height: 20px;
}

.main-notice .main-notice-list li .list-text a{
  text-decoration: none;
  color: inherit;
  margin-right: auto;
}
.main-bottom .main-hr {
  position: relative;
  
}
.main-hr .text-box{
  padding: 50px 50px 0;
}
.main-hr .text-box .b-title{
  margin-bottom: 18px;
}
.hr-list .swiper-button-prev{
  top: 50px;
  left: 7px;
  width: 50px;
  height: 50px;
  padding: 15px 24px;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
  background: url('/public/images/main/ico_swiper_prev.png') no-repeat center ;
  background-color: rgba(255,255,255,.9);
  background-size: 10px 17px;
  cursor: pointer;
}
.hr-list .swiper-button-next{
  top: 50px;
  right: 10px;
  width: 50px;
  height: 50px;
  padding: 15px 24px;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
  background: url('/public/images/main/ico_swiper_next.png') no-repeat center ;
  background-color: rgba(255,255,255,.9);
  background-size: 10px 17px;
}
.hr-list .swiper-button-prev::after,.hr-list .swiper-button-next::after{
  display: none;
}
.hr-list .swiper-wrapper{
  justify-content: space-between;
}
.hr-list .swiper{
  justify-content: space-around;
  margin: 0 auto;
  width: 550px;
  height: 150px;
  padding: 0 50px;

}
.hr-list .swiper-slide img{
  width: 200px;
  height: 100px;
  border-radius: 7px;
  margin-bottom: 40px;
}
.hr-list .swiper-pagination-bullet {
  background-color: #03A65A;
}

/* PC Main CSS */
@media screen and (min-width:768px){

  /* 과정 카테고리 */
  .program-category,
  .main-excontents{
    width: 1085px;
    margin: 0 auto;
  }
  .main-wrapper .program-category {
    padding: 50px 0;
  }
  .main-text-box .nav-link{
    text-decoration: none;color:inherit;
    cursor: pointer;
  }
  @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  .main-text-box .p-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #424242;
  }
  .main-program-img .program-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  @keyframes fade-in-fwd{0%{transform:translateZ(-80px);opacity:0}100%{transform:translateZ(0);opacity:1}}
  .main-program-img .program-item {
    position: relative;
    vertical-align:top;
    margin-right: 40px;
    overflow: hidden;
    width: 240px;
    animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; 
    /* animation: fadein .7s ease-in ; */
    margin-bottom: 40px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
  }
  .main-program-img .program-item:nth-child(4n){
    margin-right: 0;
  }
  .main-program-img .program-item .item-img img{ 
    width: 240px;
    height: 140px;
  }
  .main-program-img .program-item .item-img-desc{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: rgb(12, 150, 85);
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    font-size: 14px;
    box-sizing: border-box;
    overflow:hidden;
    word-wrap:break-word;
    text-overflow: ellipsis; 
  }
  .main-program-img .program-item .item-img-desc> div{
    position: absolute;
    display: flex;
    justify-content:space-around;
    left: 0;
    bottom: 0;
    padding: 10px 10px;
    width: 100%;
  }
  .main-program-img .program-item .item-img-desc span:hover{
    transform: skewX(-12deg);
    transition-duration: 0.3s;
  }
  .main-program-img .program-item .item-img-desc .viewBtn{
    display: block;
    padding: 8px 15px;
    background-color: #fff;
    color: #18222B;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
  }
  .main-program-img .program-item .item-img-desc .appBtn{
    display: block;
    padding: 8px 15px;
    background-color: #18222B;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
  }
  .main-program-img .program-item .item-img-desc p{
    color: #fff !important;
    height: 70%;
    overflow:hidden;
    word-wrap:break-word;
    text-overflow: ellipsis; 
  }
  .main-program-img .program-item:hover .item-img-desc{
    opacity:1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .main-program-img{
    overflow: hidden;
  }
  .main-program-img .item-text{
    padding: 10px;
    width: 100%;
  }
  .main-program-img .item-text p {
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;
    word-wrap:break-word;
    text-overflow: ellipsis; 
  }
  .main-program-img .item-title{
    height: 50px;
    font-weight: bold;
    color: #424242;
  }
  .main-program-img .item-date{
    font-weight: 100;
  
  }
  .main-program-img .item-days{
    font-weight: 100;
    font-size: 11px;
  }
  .main-program-img .item-top {
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .main-program-img .item-top li{
    margin-right: 8px;
    width: auto;
    height: 20px;
    text-align: center;
    color: #6e6e73;
    background: #f2f2f2;
    font-size: 10px;
    padding: 0.2rem 0.7rem;
    border-radius: 0.2rem;
    font-weight: bold;
    align-items: center;
  }

    /* 더보기 버튼 */
  .btn-box.more {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
  }
  .btn-more {
    width: 75px;
    border:0;
    background-color: #fff;
    position:relative;
    cursor: pointer;
  }
  .btn-more span {
    display:inline-block;
    padding-right:36px;
    font-size:14px;
    color:#000;
    line-height:28px;
    letter-spacing:-1.5px;
    vertical-align:top;
  }
  .btn-more:after {
    content:'';
    position:absolute;
    top:50%;
    right:0;
    width:28px;
    height:28px;
    margin-top:-14px;
    background:url(/public/images/main/ico_btn_more.png) no-repeat center center;
  }

  /* EX 콘텐츠 */
  .main-ex-img .ex-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .main-ex-img .ex-item{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    border-radius: 7px;
    background-color: #fff;
    cursor: pointer;
  }
  .main-ex-img .ex-list .ex-item .item-img{
    overflow: hidden;
  }
  .main-ex-img .ex-list .ex-item .item-img img {
    width: 325px;
    height: 120px;
  }
  .main-ex-img .ex-list .ex-item:hover .item-img img {
    transition: all 0.5s linear;
    transform: scale(1.05);
  }
  .main-ex-img .item-text{
    padding: 10px;
    font-weight: bold;
  }
  
  /* 메인 중간배너 */
  .main-middle-banner{
    position: relative;
  }
  .main-middle-banner img{
    height: 200px;
    width: 100%;
    border-radius: 7px;
  }
  .main-middel-banner-btn{
    position: absolute;
    top: 10px;
    left: 300px;
  }
  .main-middel-banner-btn .btn-type1.small{
    border-color: #6e6e73;
  }
  
}

/* 모바일 Main CSS */
@media screen and (max-width:767px){
  .main-banner .swiper-slide::before{
    content: '';
    display: block;
    width: 100%;
    height: 200px;
  }
  .main-frame{
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      max-width: 98rem;
      margin-right: auto;
      margin-left: auto;
  }
  .main-banner .swiper-slide-active .panel-img{
    transition: all 1s linear;
    transform: scale(1.2);
  }
  .main-frame .panel-title{
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .main-frame .panel2-title{
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .main-frame .panel-desc{
    font-size: 10px;
  }
  .main-frame .panel2-desc{
    font-size: 10px;
    color: #fff;
  }
  .main-frame .panel-top-title{
    font-size: 25px;
    font-weight: bold;
  }
  .main-frame .panel2-top-title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  .panel-img{
    width: 100px !important;
    height:100px !important;
    
  }
  
  .main-frame{
    width: 300px;
  }
   /* 메인 배너 */
  .main-banner .swiper-slide .banner-img {
    width: 100%;
    height: 200px;
  }
  .main-banner .swiper-button-prev,
  .main-banner .swiper-button-next,
  .swiper-pause,
  .ex-item .item-comment,
  .main-program-img .item-top{
    display: none;
  }

  /* 과정 카테고리 */
  .main-wrapper .program-category {
    margin: 50px 15px;
  }
  .main-text-box .p-title {
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .main-text-box .p-list {
    font-size: 14px;
  }
  .main-program-img .program-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
  }
  .main-program-img .program-item {
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    background-color: #fff;

  }
  .main-program-img .program-item .item-img {
    position: relative;
  }
  .main-program-img .program-item .item-img img{ 
    width: 200px;
    height: 130px;
    cursor: pointer;
  }
  .main-program-img .program-item .item-text{
    padding: 8px;
  }
  .main-program-img .program-item .item-img .item-img-desc,
  .main-program-img .item-text,
  .btn-more{
    /* display: none; */
  }
  .main-program-img .item-img-desc, .btn-more{
    display: none;
  }

  /* EX 콘텐츠 */
  .main-wrapper .main-excontents {
    padding-left: 15px;
    padding-right: 15px; 
  }
  .main-ex-img .ex-list{
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    width: 100%;
  }
  .main-ex-img .ex-list .ex-item .item-img img {
    width: 290px;
    border-radius: 7px;
    cursor: pointer;
  }

  
  
}


