/* flex 정렬 */
.inner-box .flex-box {
  display: flex;
}

/* contentBox  */
.account-contentBox {
  width: 40%;
}
/* button 공통 */
.account-contentBox button.form-btn {
  margin: 50px 0;
  width: 150px;
  min-width: 110px;
  height: 38px;
  border: none;
  padding: 0 10px;
  border-radius: 7px;
  background-color: #03A65A;;
}


/* contentBox title */
.account-contentBox .pageTitle {
  color: #212529;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 15px;
}

/* contentBox sub-title */
.account-contentBox .account-subtitle {
  font-size: 16px;
  color: #212529;
  margin-bottom: 2px;
}
.account-userinfo {
  margin: 10px 0 40px;
}

.account-userinfo p {
  font-weight: lighter;
  margin-bottom: 5px;
  color: #212529;
}

.account-userinfo p::before {
  content:'';
  display:inline-block;
  width:6px;
  height:6px;
  margin:-5px 10px auto 4px;
  vertical-align:middle;
  border-right:1px solid #27aa84;
  border-top:1px solid #27aa84;
  transform:rotate(45deg)
}




.account-contentBox .form {
  margin-top: 30px;
}

.account-contentBox .form Label {
  
}



.account-wrap1 {
  box-sizing: border-box;
  /* display: flex; */
}



.account-myTitle {
  font-size: 18px;
}


.account-info button {
  border: none;
  background-color: transparent;
}

.account-contentBox #withdrwal-reason {
  width: 500px;
  height: 230px;
}

.account-contentBox #withdrwal-reason::placeholder
 {
  color: #636363;
  font-weight: lighter;
  font-style: italic;
  text-align: left;
}


.account-contentBox #password-check::placeholder
 {
  color: #636363;
  font-weight: lighter;
  font-style: italic;
  position: relative;
  top: -30px;
}




.account-FormText {
  width: 400px;
  height: 200px;
}
.account-FormPw {
  width: 200px;
}
.sideBar {
  width: 200px;
  height: 250px;
  background-color: aliceblue;
  color: gray;
  position: fixed;
  position: relative;
}
.contentBox {
  margin-top: 100px;
  line-height: 30px;
}
.title {
  display: flex;
}

.account-contentBox label {
  display: block;
}