.ChangePw-wrap1 {
  box-sizing: border-box;
}

.ChangePw-contentBox {
  width: 40%;
  padding-left: 20px;
}

.ChangePw-contentBox .ChangePw-title {
  font-size: 30px;
  color: #333;
}
.ChangePw-contentBox .ChangePw-subtitle {
  font-size: 20px;
    color: #777;
}



.ChangePw-contentBox button.form-btn {
  margin: 50px 0;
  width: 150px;
  height: 40px;
  border-radius: 40px;
  border: none;
}

.ChangePw-FormNow {
  margin-top: 30px;
  margin-bottom: 70px;
  width: 700px;
}




/* flex 정렬 */
.inner-box .flex-box {
  display: flex;
}