.menu-titlebox {
  width: 100%;
  margin: 0 15px;
}

h1.menu-headtitle {
  font-size: 40px;
  letter-spacing: -0.8;
  color: #03A65A;
  /* font-weight: 800; */
  margin-bottom: 7px;
}

p.menu-subtitle {
  font-size: 20px;
  color: #5EBF92;
  margin-bottom: 50px;
}