




.pageTitle {
  color: #666;
  font-size: 25px;
  font-weight: bold;
}

.flex-box {
  display: flex;
}

/* left-menu area */
.left-menu {
  background-color: #eee;
  width: 20%;
  padding: 20px 20px;
}

#under {
  border-bottom: 1px solid #000;
}

/* 테이블 css */
.myClassList-table {
  border-collapse: collapse;
  margin: 10px 0;
}
th, td {
  border: 1px solid #eee;
}

th {
  text-align: center;
  font-weight: 500;
  background-color: #eee;
}

tr {
  height: 40px;
  font-size: 15px;
}

td {
  padding: 0 10px;
  font-weight: 300;
}

tr td:nth-child(1) {
  text-align: center;
}
tr td:nth-child(2) {
  text-align: left;
}
tr td:nth-child(3) {
  text-align: center;
}
tr td:nth-child(4) {
  text-align: right;
}
tr td:nth-child(5) {
  text-align: right;
}
tr td:nth-child(6) {
  text-align: center;
}
tr td:nth-child(7) {
  text-align: center;
}

tr td:nth-child(7) .down-btn {
  min-width: 72px;
  width: 15px;
  height: 32px;
  padding: 0 0px;
  border-radius: 7px;
  color: #fff;
  background-color: #5EBF92;
  border: none;
  font-size: 14px;
}

tr td:nth-child(7) .down-btn:hover {
  background-color: #03A65A;
}


/* 수강내역 없음 페이지 => 내역없을시 테이블 대신 보일 페이지*/



.myClassListPage .notice-noClass {
  display: none;
  background-color: #E6E6E6;
  width: 700px;
  padding: 30px 20px;
  border-radius: 40px;
}

.myClassListPage .notice-noClass.on {
  display: block;
}


.notice-noClass h3 {
  font-size: 20px;
  font-weight: 800;
  color: #444;
  margin-bottom: 20px;
  text-align: center;
}

.notice-noClass p {
  color: #555;
  text-align: center;
}