table{
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}
th, td{
    padding:0;
}

.compTable {
    margin: 100px auto;
    width: 90%;
    border: 1px solid #f3f3f3;
}

.compTable tr:nth-child(odd) {
    background-color: #F4F4F4;
}

.compTable tr th, .compTable tr td {
    padding: 20px;
}

.compTable th {
    text-align: left;
    font-weight: bold;
}

.confirmBtn {
    text-align: center;
    margin-bottom: 80px;
}

.confirmBtn .btnMargin {
    margin-right: 10px;
}