table{
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}
th, td{
    padding:0;
}


.tableSection .title {
    font-size: 24px;
}

.infoTable {
    margin: 100px auto;
    width: 100%;
    border: 1px solid #f3f3f3;
}

.infoTable tbody tr td input[type=text],
.infoTable tbody tr td input[type=tel],
.infoTable tbody tr td input[type=email] {
    border: none;
    outline: none;
    width: 100%;
    background-color: inherit;
}

.tableSectionPart:nth-child(2) .infoTable {
    margin-top: 10px;
}

.inputTotal {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 100px;
}

.inputUlFlex {
    /* display: flex; */
}

.infoItemDel {
    display: flex;
    align-items: center;
}
.infoItemDelBtn {
    margin-top: 0;
    margin-right: 50px;
    font-weight: bold;
    color: #03A65A;
    font-size: 14px;
    border: 1px solid #f9f9f9;
    width: 60px;
    height: 40px;
}
.infoItemTit {
    font-size: 24px;
}

.tablePrice {
    margin-bottom: 10px;
}

.infoTable tr:nth-child(odd) {
    background-color: #F4F4F4;
}

.infoTable tr th, table tr td {
    padding: 20px;
}

.infoTable th {
    text-align: left;
    font-weight: bold;
}

.inputBtnList {
    text-align: right;
}

.inputBtn {
    margin-right: 10px;
}

.checkSection {
    display: flex;
}

.paymentNoti {
    text-align: center;
    color: #999;
}

.confirmBtn {
    text-align: center;
}