table{
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}
th, td{
    padding:0;
}


.tableSection .title {
    font-size: 24px;
}

.infoTable {
    margin: 100px auto;
    width: 100%;
    border: 1px solid #f3f3f3;
}

.tableSectionPart:nth-child(2) .infoTable {
    margin-top: 10px;
}

.tablePrice {
    margin-bottom: 10px;
}

.infoTable tr:nth-child(odd) {
    background-color: #F4F4F4;
}

.infoTable tr th, table tr td {
    padding: 20px;
}

.infoTable th {
    text-align: left;
    font-weight: bold;
}

.inputBtnList {
    text-align: right;
}

.inputBtn {
    margin-right: 10px;
}

.checkSection {
    display: flex;
}

.paymentNoti {
    text-align: center;
    color: #999;
}

.confirmBtn {
    text-align: center;
}