/* reset */
table{
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}
th, td{
    padding:0;
}


.mainTitle {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
}

.subTitle {
    font-size: 18px;
    margin-bottom: 20px;
}



.tableSection {
    margin: 100px auto;
}

.tableSection .top {
    position: relative;
    margin-top: 50px;
}

.tableSection .top .downloadBtn {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #bbb;
    cursor: pointer;
    position: absolute;
}

.tableSection .top .date {
    font-size: 30px;
    text-align: center;
}

.tableSection .top .date h3 {
    display: inline;
}

.tableSection .top .date button {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}

.tableSection .top .date .btnPrev {
    background: url(../../../public/images/arrow_prev.png) no-repeat center;
    background-size: 25px;
    padding-top: 10px;
}
.tableSection .top .date .btnNext {
    background: url(../../../public/images/arrow_next.png) no-repeat center;
    background-size: 25px;
    padding-top: 10px;
}

.tableSection .top .searchBox {
    width: 250px;
    height: 40px;
    margin: 20px 0;
    text-indent: 50px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    float: right;
    outline: none;
    background: url(../../../public/images/search.png) no-repeat;
    background-position: 16px center;
    background-size: 16px 16px;
    background-color: #f3f3f3;
}

.programTable {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #f3f3f3;
}

.programTable thead {
    border-bottom: 1px solid #c8c8c8;
}

.programTable tr:nth-child(odd) {
    background-color: #F4F4F4;
}

.programTable tr th, table tr td {
    padding: 20px;
}

.programTable th {
    text-align: left;
    font-weight: bold;
}

.programTable td {
    font-weight: 400;
}

.listSection .btn li {
    border-radius: 50px;
    background-color: #F4F4F4;
    margin-right: 30px;
    display: inline-block;
    padding: 10px 30px;
}


.listSection .btn li a {
    color: inherit;
}

/* 나중에 .focusOn 등의 class를 js로 추가하기 */
.listSection .btn li:hover { 
    color: #fff;
    font-weight: bold;
    background-color: #5EBF92;
}