/* reset */
table{
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}
th, td{
    padding:0;
}


.tableSection {
    margin: 100px auto 150px;
}

.tableSection .top {
    position: relative;
    margin-top: 50px;
}

.tableSection .top .downloadBtn {
    font-size: 14px;
    padding: 5px 10px 5px 30px;
    border-radius: 10px;
    border: 1px solid #bbb;
    cursor: pointer;
    position: absolute;
    background: url(../../../public/images/share.png) no-repeat;
    background-size: 25px;
    font-weight: 300;
}

.tableSection .top .date {
    font-size: 30px;
    text-align: center;
}

.tableSection .top .date h3 {
    display: inline;
}

.tableSection .top .date button {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
}

.tableSection .top .date .btnPrev {
    background: url(../../../public/images/arrow_prev.png) no-repeat center;
    background-size: 25px;
    padding-top: 5px;
}
.tableSection .top .date .btnNext {
    background: url(../../../public/images/arrow_next.png) no-repeat center;
    background-size: 25px;
    padding-top: 5px;
}

/* .tableSection .top .searchBox {
    width: 250px;
    height: 40px;
    margin: 20px 0;
    text-indent: 50px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    float: right;
    outline: none;
    background: url(../../../public/images/search.png) no-repeat;
    background-position: 16px center;
    background-size: 16px 16px;
    background-color: #f3f3f3;
} */

.programSearch {
    float: right;
    margin: 20px 0;
}

.programTable {
    width: 100%;
    border: 1px solid #f3f3f3;
}

.programTable thead {
    border-bottom: 1px solid #c8c8c8;
}

.programTable thead tr th, .programTable tr th {
    text-align: center;
}

.programTable tr:nth-child(odd) {
    background-color: #F4F4F4;
}

.programTable tr th, .programTable tr td {
    padding: 20px;
}

.programTable th {
    font-weight: bold;
}

.programTable tbody tr td {
    font-weight: 400;
    text-align: left;
}