.listSection {
  margin-top: 50px;
}

.listSection .btn li {
    border-radius: 50px;
    background-color: #F4F4F4;
    margin-right: 30px;
    display: inline-block;
    padding: 10px 30px;
}

.listSection .btn li.active { 
    color: #fff;
    font-weight: bold;
    background-color: #5EBF92;
    box-sizing: border-box;
}


