/* pc */
@media screen and (min-width:768px){ 

    .terms_policy_box {
        margin: 80px auto;
        width: 80%;
    }
    
    .terms_policy_box .title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    
    .terms_policy .text_box {
        border: 1px solid #c4c4c4;
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 20px;
        overflow: auto;
        word-break: keep-all;
        max-height: 12em;
    }
    
    .textRed {
        color: #e34f4f;
    }
    
    .agree_box {
        text-align: center;
        margin: 40px 0;
    }
    
    .ok_btn {
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
    }
    
}

/* 모바일 */
@media screen and (max-width:767px){
    
    .terms_policy .text_box {
        width: 500px;
    }

}