@media screen and (max-width:767px){
	.header-menu-btn {
    height: 45px;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8px;
  }
  .header-top-area {
    padding: 0 15px 15px;
    background: #fff;
  }
  .header-top-area .header-top-sub {
    display: flex;
    justify-content: center;
  }
  .header-top-area .header-top-sub li {
    margin-left: 10px;
    margin-right: 20px;
  }
  .header-top-area .header-top-sub li a {
    font-size: 13px;
    color: #000;
    line-height: 25px;
  }
  .header-top-area .header-top-sub li a img {
    overflow: hidden;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }
  .header-gnb-menu {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    margin-top: 7px;
    border-top: 1px solid #ddd;
    background: #fff;
  }
  
  .header-gnb-menu .gnb-menu-left {
    width: 100%;
  }
  .gnb-left-depth2 li button {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    background: none;
    border: none;
    letter-spacing: -1px;
  }
  .gnb-left-depth2 li button span {
    display: block;
    padding: 2px 15px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    line-height: 36px;
  }
  .header-gnb-menu .gnb-menu-right {
    width: 100%;
    border-left: 1px solid #ddd;
  }
  .gnb-menu-depth3 > li {
    border-bottom: 1px solid #ddd;
  }
  .gnb-menu-depth3 > li > a, .header-gnb-menu .gnb-menu-right .gnb-menu-depth3 > li > button span {
    position: relative;
    display: block;
    padding: 0 15px;
    font-size: 14px;
    color: #222;
    line-height: 39px;
  }


}
