
/* PC 헤더 */
@media screen and (min-width:768px){
  .header-wrapper .switch {
    cursor: pointer;
    width: 80px;
    height: 54px;
    margin: 0;
  }
  .header-wrapper{
    background-color: #fff;
  }
  .header-top .header-inner {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .header-top .top-logo {
  }
  
  .header-top .top-logo a{
    display: block;
    width: 180px;
    height: 62px;
    background: url(/public/images/logo.png) no-repeat;
    background-size: 180px 62px;
    text-indent: -9999px;
  }
  
  .header-top .top-search{
    position: relative;
    margin-right: auto;
   
  }
  .header-top .top-search .top-search-box{
    display: flex;
    align-items: center;
    height: 62px;
    margin-left: 50px;
  }
  
  .header-top .top-search-input {
    padding:11px 38px 9px 10px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
  }
  
  .header-top .top-search-input:focus {
    outline : none;
  }
  
  .header-top .top-search-btn {
    position: absolute;
    top:30%;right:0;
  
  }
  
  .header-top .top-search-btn img{
    width: 24px;
  }
  /* 롤링 */
  .header-top:focus{
    background-color: red;
  }
  .top-rolling{
    height: 23px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 60px;
    
  }
  .top-rolling .rolling-item{
    display: block;
    animation: scroll 8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  @keyframes scroll {
    0% {
        transform: translateY(20px)
    }
    20% {
      transform: translateY(0px)
    }
    30%{
      transform: translateY(0px)
    }
    40% {
        transform: translateY(-23px)
    }
    60%{
      transform: translateY(-23px)
    }
    70%{
      transform: translateY(-45px)
    }
    90%{
      transform: translateY(-45px)
    }
    99.9%{
      transform: translateY(-70px)
    }
    100% {
      transform: translateY(-70px)
    }
}

  .header-top .top-btn{
    
  
  }
  
  .header-top .top-btn a{
    margin:0 8px;
    font-size:14px;
    color:#7e7e7e;
  }s
  
  .header-top .top-btn .sitemap{
    margin-left: 8px;
  }
  
  
  
  
  /* gnb */
  nav.header-bottom.fixed {
    position: fixed; left: 0; top: 0; width: 100%;
    z-index: 99;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
 
  .header-bottom ul.gnb::before{
    content: '';
    display: block;
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: #fff;
    box-shadow: 0 4px 4px -4px #666;
    overflow: hidden;
    z-index: 9999;
  
  }
  .header-bottom.fixed ul.gnb::before{
    top: 60px;
  }
  .header-bottom ul.gnb:hover::before{
    height: 250px;
    transition: height .4s ease-out;
  }
  
  .header-bottom ul.gnb {
    display: flex;
    height: 70px;
  }
  
  .header-bottom ul.gnb li.depth1 {
    flex : auto;
    height: 70px;
    color: #2b2d36;
    font-weight: normal;
  }
  .header-bottom ul.gnb > li.depth1:hover>a {
    color: #27aa84;
    font-weight: bold;
    /* background-color: #27aa84;
    border-radius: 6px 6px 0 0; */
  }
  
  .header-bottom ul.gnb li.depth1 > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #2b2d36;
  }
  
  .header-bottom ul.gnb li.depth1 ul.depth2 {
    position: absolute;
    height: 0px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .header-bottom ul.gnb:hover li.depth1 ul.depth2 {
    height: 230px;
    padding-left: 41px;
    padding-bottom: 12px;
    text-align: left;
    padding-top: 19px;
    cursor: pointer;
    overflow: hidden;
    transition: height .5s ease-out;
    z-index: 9999;
    
  }
  .header-bottom ul.gnb:hover li.depth1 ul.depth2 li{
  }
  .header-bottom ul.gnb:hover li.depth1 ul.depth2 li a{
    display: block;
    /* width: 100%; */
    height: 100%;
    padding: 5px 0;
    margin-left: 50px;
    color: #2b2d36;
  }
  .header-bottom ul.gnb li.depth1 ul.depth2 li:hover a{
    color: black;
    text-decoration: underline;
    text-decoration-color: #27aa84;
    font-size: 16px;
    font-weight: bold;
  }
  
} 


/* 모바일 헤더 */
@media screen and (max-width:767px){
  .m-header{
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15; */

  }
  .m-header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 11px;
    border-bottom: 1px solid #ddd;
    background: rgba(255,255,255,.95);
    box-sizing: border-box;
  }
  .m-header-cont .btn-gnb-main {
    padding: 16px 4px 15px;
  }
  .m-header-cont .btn-gnb-main img{
    width: 90px;
  }
  .m-header-cont .btn-gnb-menu img{
    width: 30px;
  }
}
