/* PC 헤더 */
@media screen and (min-width:768px){
  
  .header-wrapper2{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #f0f0f1;
    z-index: 14;
    background-color: #fff;
    box-sizing: border-box;
  }
  .header-inner{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 80px;
  }
  .header-wrapper2 .top-logo a{
    display: block;
    width: 180px;
    height: 58px;
    background: url(/public/images/logo.png) no-repeat;
    background-size: 180px 58px;
    text-indent: -9999px;
    margin-top: 12px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  .header-wrapper2 .gnb{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  .header-wrapper2 .gnb_bg{
    position: fixed;
    left: 0;
    top: 80px;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
  }
  .header-wrapper2 .gnb_bg.open{
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 99;
  }

  .header-wrapper2 ul.gnb::before{
    content: '';
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: #f2f1ed;
    box-shadow: 0 4px 4px -4px #666;
    overflow: hidden;
    z-index: 9999;
  }
  .header-wrapper2 ul.gnb:hover::before{
    height: 270px;
    transition: height .4s ease-out;
  }
  .header-wrapper2 ul.gnb li.depth1>a{
    position: relative;
    display: block;
    width: 150px;
    height: 100%;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    color: #2b2d32;
    font-size: 18px;
  }
  .header-wrapper2 ul.gnb li.depth1>a::after{
    content: '';
    display: block;
    height: 0px;
    width: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #008000;
    overflow: hidden;
  }
  .header-wrapper2 ul.gnb li.depth1:hover>a::after{
    height: 3px;
    transition: height 0.3s cubic-bezier(0.75,0.1,0.25,1) 0.0s;
  }
  .header-wrapper2 ul.gnb li.depth1 ul.depth2{
    position: absolute;
    height: 0;
    overflow: hidden;
    z-index: 9999;
  }
  .header-wrapper2 ul.gnb:hover li.depth1 ul.depth2{
    display: block;
    height: 270px;
    transition: height .5s ease-out;
  
  }
  .header-wrapper2 ul.gnb li.depth1 ul.depth2 a{
    display: block;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: left;
    line-height: 24px;
    padding: 20px 0;
    font-size: 15px;
    color: #2b2d32;
    font-weight: normal;
  }
  .header-wrapper2 ul.gnb li.depth1 ul.depth2 li:hover a{
    color: #008000;
    font-weight: bold;
  }


  /* 검색 */
  .header-wrapper2 .top-search{
    position: relative;
    width: 180px;
  }
  .header-wrapper2 .top-search-box{
    display: flex;
    align-items: center;
    height: 50px;
  }
  .header-wrapper2 .top-search-input{
    padding:11px 10px 4px 10px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    width: 160px;
  }
  .header-wrapper2 .top-search-input:focus {
    outline : none;
  }
  .header-wrapper2 .top-search-btn{
    display: block;
    width: 24px;
    height: 24px;
    background: url(/public/images/main/ico_search.png) no-repeat;
    background-size: 24px 24px;
    position: absolute;
    top:25%;right:20px;
    cursor: pointer;
  }
  /* 롤링 */
  .header-wrapper2 .top-rolling{
    height: 23px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    left: 15px;
  }
  .header-wrapper2 .top-rolling .rolling-item{
    display: block;
    animation: scroll 7s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  @keyframes scroll {
    0% {
        transform: translateY(20px)
    }
    10% {
      transform: translateY(0px)
    }
    30%{
      transform: translateY(0px)
    }
    40% {
        transform: translateY(-23px)
    }
    60%{
      transform: translateY(-23px)
    }
    70%{
      transform: translateY(-45px)
    }
    90%{
      transform: translateY(-45px)
    }
    99.9%{
      transform: translateY(-68px)
    }
    100% {
      transform: translateY(-68px)
    }
  }


  /* 헤더 오른쪽 영역 */
  .header-wrapper2 .top-btn{
    display: flex;
    justify-content: flex-end;
  }
  .header-wrapper2 .top-btn a{
    margin:0 8px;
    font-size:13px;
    color:#7e7e7e;
    font-weight: bold;
  }

}



/* 모바일 헤더 */
@media screen and (max-width:767px){
  .m-header{
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15; */

  }
  .m-header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 11px;
    border-bottom: 1px solid #ddd;
    background: rgba(255,255,255,.95);
    box-sizing: border-box;
  }
  .m-header-cont .btn-gnb-main {
    padding: 16px 4px 15px;
  }
  .m-header-cont .btn-gnb-main img{
    width: 90px;
  }
  .m-header-cont .btn-gnb-menu img{
    width: 30px;
  }
}