.DetailPg-main {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  background-color: #70b592;
  opacity: 0.9;
  padding-top: 100px;
  height: 1200px;
}

.DetailPg-title {
  margin-top: 50px;
  font-weight: 700;
  margin: 10px;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.DetailPg-accordion {
  margin: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 800px;
  background-color: #dcdcdc;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 70px;
}

.accordion__item {
  margin-top: 20px;
  width: 800px;
  max-height: 25px;
  padding: 40px 10px;
  border-bottom: 1px solid #c9c9c9;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.accordion__header {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion__header h4 {
  transition: 0.2s ease-in-out;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.accordion__header i {
  transition: 0.2s ease-in-out;
  transform-origin: center;
  margin-bottom: 10px;
}

.accordion__header:hover h4 {
  color: #004a00 !important;
}

.accordion__header:hover i {
  color: #004a00;
}

.accordion__content {
  margin: 5px;
}
@media screen and (max-width: 767px) {
  .DetailPg-main,
  .DetailPg-title {
    width: 100%;
  }

  .accordion___header {
    width: 70vw;
  }
  .qaContentsBox {
    width: 100%;
  }
  .DetailPg-accordion,
  .DetailPg-title,
  .accordion__item {
    width: 70vw;
  }
}
