ul,
li {
  list-style-type: none;
}

.btnBox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.btnBox li {
  margin: 100px 40px;
}
.btnBox .btn {
  width: 200px;
  height: 50px;
  color: #454545;
  background-color: #ddd;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

.btnBox li:last-child {
  margin-right: 0;
}

.btnBox .btn.on {
  color: #fff;
  background-color: #03a65a;
  font-weight: bold;
}
.hrBox {
  overflow: hidden;
}

.hrItemList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hrItemList li {
  padding: 12px;
}

.hrItemList li a {
  display: block;
}

.hrItemList li a img {
  width: 200px;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.hrItemList li a img:hover {
  transform: scale(1.2);
  transition: transform 1s;
  filter: brightness(70%);
}
.itemDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemDesc .item {
  font-size: 15px;
  background-color: #ededed;
  border-radius: 10px;
  font-weight: 500;
  color: #333;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.itemDesc .price {
  font-size: 15px;
  margin-top: 10px;
  color: #444;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
}
.bottomBannerImg {
  width: 100%;
  margin: 100px 0;
}
.bottomBannerImg img {
  width: 1450px;
  height: 200px;
}
