.wrap {
  width: 900px;
}
FormGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  width: 200px;
  height: 30px;
  font-size: 35px;
  color: #aaaaaa;
  margin-bottom: 30px;
}
span {
  width: 1000px;
  height: 30px;
  font-size: 20px;
  color: #aaaaaa;
  margin-bottom: 50px;
}
Label {
  font-weight: 700px;
  font-size: 12px;
}

.companyImg {
  width: 200px;
  height: 200px;
}
.topTitle {
  margin-top: 50px;
}
