.Partnership-wrap {
  width: 900px;
}
.Partnership-FormGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Partnership-h3 {
  width: 200px;
  height: 30px;
  font-size: 35px;
  color: #aaaaaa;
  margin-bottom: 30px;
}
.Partnership-span {
  width: 1000px;
  height: 30px;
  font-size: 20px;
  color: #aaaaaa;
  margin-bottom: 50px;
}
.Partnership-Label {
  font-weight: 700px;
  font-size: 12px;
}

.Partnership-companyImg {
  width: 200px;
  height: 200px;
}
.Partnership-topTitle {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .orderPage-bigTitle h3,
  span {
    width: 40vw;
  }

  .orderPage-bigTitle span {
    font-size: 14px;
  }
}
