.wrap {
  width: 1000px;
}
FormGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  width: 200px;
  height: 30px;
  font-size: 35px;
  color: #aaaaaa;
  margin-bottom: 50px;
  margin-top: 50px;
}
span {
  width: 1000px;
  height: 30px;
  font-size: 20px;
  color: #aaaaaa;
}
.subTitle {
  font-size: 14px;
  font-weight: 700px;
}
.TextBox {
  margin-top: 30px;
}
.submitBtn {
  width: 70px;
  height: 30px;
  background-color: #aaaaaa;
  border: none;
}
.lectureImg {
  width: 300px;
  height: 300px;
}
