.recruit-wrap {
  width: 1000px;
}
.recruit-FormGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recruit-header {
  width: 200px;
  height: 30px;
  font-size: 35px;
  color: #aaaaaa;
  margin-bottom: 50px;
  margin-top: 50px;
}
.recruit-span {
  width: 1000px;
  height: 30px;
  font-size: 20px;
  color: #aaaaaa;
}
.recruit-subTitle {
  font-size: 14px;
  font-weight: 700px;
}
.recruit-TextBox {
  margin-top: 30px;
}
.recruit-submitBtn {
  width: 70px;
  height: 30px;
  background-color: #aaaaaa;
  border: none;
}
.recruit-lectureImg {
  width: 300px;
  height: 300px;
}
