.t_infoContainer {
  padding-bottom: 70px;
  width: 400px;
}
.t_btn {
  margin-top: 30px;
  background-color: #5ebf92;
  color: #fff;
  border-radius: 34px;
  width: 125px;
  height: 35px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  border: none;
  background-image: url("/public/images/play.png");
  background-repeat: no-repeat;
  background-position: right 6px top 7px;
  background-size: 20px;
}

/* .t_btn::after {
  background: url('');
} */

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 300px;
  background-color: #e3e3e3;
  margin-bottom: 13px;
  border-radius: 15px;
}
.TopBanner {
  width: 100%;
  height: 100%;
}

.t_img {
  padding: 10px 10px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
.t_infoContainer {
  overflow: hidden;
}
.t_img:hover {
  opacity: 0.5;
}
.t_titleInfo {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  position: relative;
}

.t_titleInfo h2 {
  font-size: 26px;
  font-weight: 800;
  color: #6d6d6d;
}

.t_titleInfo .t_motto {
  font-size: 15px;
  color: #5ebf92;
  position: absolute;
  right: 0;
}

.t_historyBox {
  margin-bottom: 26px;
}

.t_historyBox .t_history {
  color: #6d6d6d;
  margin-bottom: 4px;
}

.t_historyBox .t_history:last-child {
  margin-bottom: 0;
}

.t_lectureBox {
  display: flex;
  align-items: center;
}

.t_lectureBox h3 {
  font-size: 21px;
  margin-right: 17px;
  font-weight: 500;
  color: #555;
}

#lectureList {
  width: 155px;
  height: 28px;
  background-color: #f4f4f4;
  color: #898989;
  border: none;
  border-radius: 20px;
  text-align: center;
}

/* #lectureList option:first-child:after {
  content: "";
  width: 1px;
  height: 14px;
  color: #777;
  display: block;
} */

/* Tablet */
@media screen and (max-width: 1023px) {
  .t_titleInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 9px;
  }

  .t_titleInfo .t_motto {
    position: static;
    font-size: 17px;
  }

  .t_titleInfo h2 {
    margin-bottom: 3px;
    font-size: 38px;
  }

  .t_lectureBox h3 {
    font-size: 25px;
    margin-right: 23px;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .t_infoContainer {
    width: 50vh;
  }
}
